# MongoDB Atlas or Local Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/voyago_db?retryWrites=true&w=majority

# JWT 256-bit Secret Key and Expiration in Milliseconds (86400000 = 24 Hours)
JWT_SECRET=voyagoSecretKeyForJwtAuthenticationMustBeAtLeast256BitsLong2026SecureKey
JWT_EXPIRATION=86400000

# Spring Server Port
PORT=8001
